.menu {
    margin-bottom: 40px!important;
}

.items-list {
   padding-top: 40px;
}

.footer {
    margin-top: 60px!important;

    .header {
        margin-top: 10px;
    }
}

.price {
    font-size: 24px;
    color: red;
}

.show-edit-buttons {
    width: 100%;
}
